<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sns.like.mapper.LikeMapper">
 	<!-- select(postId+userId) -->
 	<select id="selectLikeCountByPostIdUserId" parameterType="map" resultType="int">
 	SELECT
 		count(*)
	FROM
		`like`
	WHERE
		`postId` = #{postId}
		AND `userId` = #{userId}
 	</select>
 	
 	<insert id="insertLikeByPostIdUserId" parameterType="map">
 	INSERT INTO `like`
 	(
 		`postId`
		, `userId`
		, `createdAt`
 	)
 	VALUES
 	(
 		#{postId}
 		, #{userId}
 		, NOW()
 	)
 	</insert>
 	
 	<!-- 삭제 -->
 	<delete id="deleteLikeByPostIdUserId" parameterType="map">
 	DELETE FROM
 		`like`
 	WHERE
 		`postId` = #{postId}
 		AND `userId` = #{userId}
 	</delete>
 	
 	
 	<select id="selectLikeCountByPostId" resultType="int">
 	SELECT
 		count(*)
	FROM
		`like`
	WHERE
		`postId` = #{postId}
 	</select>
 </mapper>