@charset "UTF-8";
#wrap {width:800px;}
header {height: 60px; background-color: #e0e0e0;}
.contents {min-height: 300px;}
footer {height: 50px;}

/* 뒷배경 색 클래스 */
.back-color {background-color: #e0e0e0;}

/* logo <a>링크 */
#logo {color: #000;}
#logo:hover {text-decoration: none;}

/* header부분 로그인/로그아웃 <a> 폰트 부분 */
.sign-in-out {color: #555; text-decoration: underline;}
.sign-in-out:hover {text-decoration: none;}

/* <a> 밑줄 삭제 클래스 (나중에 필요 없으면 지워도 될듯 */
.underline-none {text-decoration: none;}

/* 로그인+회원가입 section영역 css */
.section-inner-box {width:550px;}
.border-box {width: 520px; min-height: 220px; padding: 20px;}
#login-input-box {width: 220px;}
.log-in-btn {width:100px;}

/* timeline 영역 css */
#post-list-header {background-color: #e0e0e0;}

/* 이미지file input 관련 css */
#upload-img-div {cursor:pointer;}
#img-file {display:none;}